/* 1024 - 1229 */
@media screen and (max-width: 1229px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-image {
        width: 400px;
    }

    .main-image img {
        max-width: 100%;
    }

    .products-items {
        justify-content: center;
    }

    .product {
        margin: 12px;
    }

    .order-form {
        margin-left: 45px;
    }

    .order .container {
        max-width: 1024px;
    }
}

/* 768 - 1023 */
@media screen and (max-width: 1023px) {
    .menu ul {
        width: 420px;
    }

    .main .container {
        flex-direction: column-reverse;
    }

    .main {
        padding-top: 50px;
    }

    .main-info h1, .main-actions {
        text-align: center;
    }

    .products {
        padding-top: 0;
        padding-bottom: 40px;
    }

    .order {
        padding-top: 60px;
        position: relative;
    }

    .order-image {
        position: absolute;
        z-index: -1;
        right: calc(50% - 400px);
    }

    .order-image img {
        position: relative;
    }

    .order .container {
        justify-content: center;
    }

    .empty-block {
        display: none;
    }
}

/* 425 - 767 */
@media screen and (max-width: 767px) {

}

/* 375 - 424 */
@media screen and (max-width: 424px) {

}

/* 320 - 374 */
@media screen and (max-width: 374px) {

}

